.auth-page{
    background-color: #ffffff;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    border-radius: 6px;
    background-color: #7ed956;
    padding: 20px;
    border-radius: 8px;
}

.auth-form input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.auth-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.auth-form button {
    background-color: #ffffff;
    color: #3d851f;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #3d851f;
    border-radius: 4px;
    cursor: pointer;
}

.bottom-text {
    margin-top: 12px;
    font-weight: bold;
    text-align: center;
}
